* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Inter";
    font-weight: bold;
}

html {
    scrollbar-width: none;
}

header {
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
main {
    padding: 20px 50px;
}

.btns {
    display: flex;
}

.bt_navbar {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 16px;
    font-weight:700;
    margin: 0 10px;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
    }
}


.main_nav {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;

}
.h1 {
    font-size: 32px;
}

.skip_btns {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* заменить весь серый на цвета дизайна */
.main_nav_bt {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight:700;
    margin: 10px 0px;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
    }
}

.choice_cont {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.choice {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* padding: 30px; */
    border-radius: 15px;
}

.opts {
    margin: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;}

.opt {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight:700;
    margin: 10px 0px;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.1);

        cursor: pointer;
    }
}


.back {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight:700;
    margin: 10px 0px;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
        background-color: rgba(0, 0, 0, 0.1);

        cursor: pointer;
    }
}

.next {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgb(141, 181, 255);
    border-style: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16px;
    font-weight:700;
    margin: 10px 0px;
    &:hover{
        color: rgba(0, 0, 0, 0.9);
        background-color: rgb(121, 168, 255);
        cursor: pointer;
    }
}

.hide {
    display: none;
}